In [2]:
## Pandas
### Dataframes
import pandas as pd
data1 = {'s1':25,'s2':48,'s3':54}
data1 = pd.Series(data1)
data2 = {'s1':52,'s2':84,'s3':45}
data2 = pd.Series(data2)
print(data1,"\n",data2)

s1    25
s2    48
s3    54
dtype: int64
 s1    52
s2    84
s3    45
dtype: int64

In [5]:
result = {'Data':data1,'Data1':data2}
result = pd.DataFrame(result)
result

    Data  Data1
s1    25     52
s2    48     84
s3    54     45

In [8]:
df = pd.DataFrame({'name':['Chiru','Ram'],'age':[66,30],'occupation':['Actor','Doctor']})
df

    name  age occupation
0  Chiru   66      Actor
1    Ram   30     Doctor

In [3]:
coronadf = pd.read_csv('us.csv')
coronadf

             date       county       state     fips  cases  deaths
0      2020-01-21    Snohomish  Washington  53061.0      1       0
1      2020-01-22    Snohomish  Washington  53061.0      1       0
2      2020-01-23    Snohomish  Washington  53061.0      1       0
3      2020-01-24         Cook    Illinois  17031.0      1       0
4      2020-01-24    Snohomish  Washington  53061.0      1       0
5      2020-01-25       Orange  California   6059.0      1       0
6      2020-01-25         Cook    Illinois  17031.0      1       0
7      2020-01-25    Snohomish  Washington  53061.0      1       0
8      2020-01-26     Maricopa     Arizona   4013.0      1       0
9      2020-01-26  Los Angeles  California   6037.0      1       0
10     2020-01-26       Orange  California   6059.0      1       0
11     2020-01-26         Cook    Illinois  17031.0      1       0
12     2020-01-26    Snohomish  Washington  53061.0      1       0
13     2020-01-27     Maricopa     Arizona   4013.0      1       0
14     2020-01-27  Los Angeles  California   6037.0      1       0
15     2020-01-27       Orange  California   6059.0      1       0
16     2020-01-27         Cook    Illinois  17031.0      1       0
17     2020-01-27    Snohomish  Washington  53061.0      1       0
18     2020-01-28     Maricopa     Arizona   4013.0      1       0
19     2020-01-28  Los Angeles  California   6037.0      1       0
20     2020-01-28       Orange  California   6059.0      1       0
21     2020-01-28         Cook    Illinois  17031.0      1       0
22     2020-01-28    Snohomish  Washington  53061.0      1       0
23     2020-01-29     Maricopa     Arizona   4013.0      1       0
24     2020-01-29  Los Angeles  California   6037.0      1       0
25     2020-01-29       Orange  California   6059.0      1       0
26     2020-01-29         Cook    Illinois  17031.0      1       0
27     2020-01-29    Snohomish  Washington  53061.0      1       0
28     2020-01-30     Maricopa     Arizona   4013.0      1       0
29     2020-01-30  Los Angeles  California   6037.0      1       0
...           ...          ...         ...      ...    ...     ...
53818  2020-04-12  Trempealeau   Wisconsin  55121.0      1       0
53819  2020-04-12        Vilas   Wisconsin  55125.0      4       0
53820  2020-04-12     Walworth   Wisconsin  55127.0     37       0
53821  2020-04-12   Washington   Wisconsin  55131.0     71       3
53822  2020-04-12     Waukesha   Wisconsin  55133.0    209       7
53823  2020-04-12      Waupaca   Wisconsin  55135.0      4       1
53824  2020-04-12     Waushara   Wisconsin  55137.0      2       0
53825  2020-04-12    Winnebago   Wisconsin  55139.0     27       1
53826  2020-04-12         Wood   Wisconsin  55141.0      2       0
53827  2020-04-12       Albany     Wyoming  56001.0      5       0
53828  2020-04-12     Big Horn     Wyoming  56003.0      1       0
53829  2020-04-12     Campbell     Wyoming  56005.0     11       0
53830  2020-04-12       Carbon     Wyoming  56007.0      4       0
53831  2020-04-12     Converse     Wyoming  56009.0      8       0
53832  2020-04-12        Crook     Wyoming  56011.0      3       0
53833  2020-04-12      Fremont     Wyoming  56013.0     40       0
53834  2020-04-12       Goshen     Wyoming  56015.0      3       0
53835  2020-04-12  Hot Springs     Wyoming  56017.0      2       0
53836  2020-04-12      Johnson     Wyoming  56019.0     11       0
53837  2020-04-12      Laramie     Wyoming  56021.0     58       0
53838  2020-04-12      Lincoln     Wyoming  56023.0      5       0
53839  2020-04-12      Natrona     Wyoming  56025.0     33       0
53840  2020-04-12     Niobrara     Wyoming  56027.0      1       0
53841  2020-04-12         Park     Wyoming  56029.0      1       0
53842  2020-04-12     Sheridan     Wyoming  56033.0     12       0
53843  2020-04-12     Sublette     Wyoming  56035.0      1       0
53844  2020-04-12   Sweetwater     Wyoming  56037.0      7       0
53845  2020-04-12        Teton     Wyoming  56039.0     56       0
53846  2020-04-12        Uinta     Wyoming  56041.0      4       0
53847  2020-04-12     Washakie     Wyoming  56043.0      4       0

[53848 rows x 6 columns]

In [14]:
coronadf.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [16]:
coronadf.tail(3)

             date    county    state     fips  cases  deaths
53845  2020-04-12     Teton  Wyoming  56039.0     56       0
53846  2020-04-12     Uinta  Wyoming  56041.0      4       0
53847  2020-04-12  Washakie  Wyoming  56043.0      4       0

In [18]:
coronadf.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [21]:
coronadf['state'].value_counts()

Georgia                     3182
Texas                       3134
Virginia                    2205
Indiana                     1868
North Carolina              1855
Tennessee                   1813
California                  1778
Mississippi                 1756
Ohio                        1706
Kentucky                    1633
Florida                     1625
Michigan                    1549
New York                    1548
Missouri                    1525
Illinois                    1511
Pennsylvania                1456
Louisiana                   1436
Iowa                        1383
Arkansas                    1338
Alabama                     1329
Minnesota                   1303
Colorado                    1303
Wisconsin                   1257
Washington                  1131
Oklahoma                    1106
South Carolina              1082
Kansas                       999
Oregon                       727
New Jersey                   675
South Dakota                 653
Nebraska                     652
West Virginia                649
Maryland                     620
Idaho                        595
Montana                      513
Massachusetts                499
Utah                         499
North Dakota                 487
New Mexico                   487
Arizona                      428
Wyoming                      390
Maine                        356
Vermont                      343
New Hampshire                273
Connecticut                  242
Nevada                       240
Alaska                       195
Hawaii                       145
Rhode Island                 138
Delaware                      88
District of Columbia          37
Puerto Rico                   31
Virgin Islands                30
Guam                          29
Northern Mariana Islands      16
Name: state, dtype: int64

In [22]:
coronadf.nunique()

date        83
county    1608
state       55
fips      2667
cases     1578
deaths     264
dtype: int64

In [23]:
coronadf.describe()

               fips          cases        deaths
count  53132.000000   53848.000000  53848.000000
mean   29529.152036     106.149328      3.178985
std    15549.107764    1336.965313     65.751445
min     1001.000000       0.000000      0.000000
25%    17161.000000       2.000000      0.000000
50%    28135.000000       5.000000      0.000000
75%    42125.000000      22.000000      1.000000
max    56043.000000  103208.000000   6717.000000

In [24]:
len(coronadf)

53848

In [26]:
coronadf.shape

(53848, 6)

In [28]:
coronadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53848 entries, 0 to 53847
Data columns (total 6 columns):
date      53848 non-null object
county    53848 non-null object
state     53848 non-null object
fips      53132 non-null float64
cases     53848 non-null int64
deaths    53848 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ MB

In [41]:
coronadf.loc[coronadf["state"]=="Wyoming"]

             date       county    state     fips  cases  deaths
1363   2020-03-11     Sheridan  Wyoming  56033.0      1       0
1618   2020-03-12     Sheridan  Wyoming  56033.0      1       0
1932   2020-03-13      Fremont  Wyoming  56013.0      1       0
1933   2020-03-13     Sheridan  Wyoming  56033.0      1       0
2307   2020-03-14      Fremont  Wyoming  56013.0      1       0
2308   2020-03-14     Sheridan  Wyoming  56033.0      2       0
2736   2020-03-15      Fremont  Wyoming  56013.0      1       0
2737   2020-03-15     Sheridan  Wyoming  56033.0      2       0
3212   2020-03-16      Fremont  Wyoming  56013.0      8       0
3213   2020-03-16     Sheridan  Wyoming  56033.0      2       0
3756   2020-03-17      Fremont  Wyoming  56013.0      8       0
3757   2020-03-17      Laramie  Wyoming  56021.0      2       0
3758   2020-03-17         Park  Wyoming  56029.0      1       0
3759   2020-03-17     Sheridan  Wyoming  56033.0      4       0
4395   2020-03-18      Fremont  Wyoming  56013.0      8       0
4396   2020-03-18      Laramie  Wyoming  56021.0      3       0
4397   2020-03-18         Park  Wyoming  56029.0      1       0
4398   2020-03-18     Sheridan  Wyoming  56033.0      4       0
4399   2020-03-18        Teton  Wyoming  56039.0      1       0
5161   2020-03-19      Fremont  Wyoming  56013.0      8       0
5162   2020-03-19      Laramie  Wyoming  56021.0      4       0
5163   2020-03-19         Park  Wyoming  56029.0      1       0
5164   2020-03-19     Sheridan  Wyoming  56033.0      4       0
5165   2020-03-19        Teton  Wyoming  56039.0      1       0
6075   2020-03-20     Campbell  Wyoming  56005.0      1       0
6076   2020-03-20      Fremont  Wyoming  56013.0      9       0
6077   2020-03-20      Laramie  Wyoming  56021.0      4       0
6078   2020-03-20      Natrona  Wyoming  56025.0      1       0
6079   2020-03-20         Park  Wyoming  56029.0      1       0
6080   2020-03-20     Sheridan  Wyoming  56033.0      4       0
...           ...          ...      ...      ...    ...     ...
51160  2020-04-11      Natrona  Wyoming  56025.0     32       0
51161  2020-04-11     Niobrara  Wyoming  56027.0      1       0
51162  2020-04-11         Park  Wyoming  56029.0      1       0
51163  2020-04-11     Sheridan  Wyoming  56033.0     12       0
51164  2020-04-11     Sublette  Wyoming  56035.0      1       0
51165  2020-04-11   Sweetwater  Wyoming  56037.0      7       0
51166  2020-04-11        Teton  Wyoming  56039.0     53       0
51167  2020-04-11        Uinta  Wyoming  56041.0      4       0
51168  2020-04-11     Washakie  Wyoming  56043.0      4       0
53827  2020-04-12       Albany  Wyoming  56001.0      5       0
53828  2020-04-12     Big Horn  Wyoming  56003.0      1       0
53829  2020-04-12     Campbell  Wyoming  56005.0     11       0
53830  2020-04-12       Carbon  Wyoming  56007.0      4       0
53831  2020-04-12     Converse  Wyoming  56009.0      8       0
53832  2020-04-12        Crook  Wyoming  56011.0      3       0
53833  2020-04-12      Fremont  Wyoming  56013.0     40       0
53834  2020-04-12       Goshen  Wyoming  56015.0      3       0
53835  2020-04-12  Hot Springs  Wyoming  56017.0      2       0
53836  2020-04-12      Johnson  Wyoming  56019.0     11       0
53837  2020-04-12      Laramie  Wyoming  56021.0     58       0
53838  2020-04-12      Lincoln  Wyoming  56023.0      5       0
53839  2020-04-12      Natrona  Wyoming  56025.0     33       0
53840  2020-04-12     Niobrara  Wyoming  56027.0      1       0
53841  2020-04-12         Park  Wyoming  56029.0      1       0
53842  2020-04-12     Sheridan  Wyoming  56033.0     12       0
53843  2020-04-12     Sublette  Wyoming  56035.0      1       0
53844  2020-04-12   Sweetwater  Wyoming  56037.0      7       0
53845  2020-04-12        Teton  Wyoming  56039.0     56       0
53846  2020-04-12        Uinta  Wyoming  56041.0      4       0
53847  2020-04-12     Washakie  Wyoming  56043.0      4       0

[390 rows x 6 columns]

In [43]:
coronadf.loc[coronadf["state"]=="Wyoming","date"]

1363     2020-03-11
1618     2020-03-12
1932     2020-03-13
1933     2020-03-13
2307     2020-03-14
2308     2020-03-14
2736     2020-03-15
2737     2020-03-15
3212     2020-03-16
3213     2020-03-16
3756     2020-03-17
3757     2020-03-17
3758     2020-03-17
3759     2020-03-17
4395     2020-03-18
4396     2020-03-18
4397     2020-03-18
4398     2020-03-18
4399     2020-03-18
5161     2020-03-19
5162     2020-03-19
5163     2020-03-19
5164     2020-03-19
5165     2020-03-19
6075     2020-03-20
6076     2020-03-20
6077     2020-03-20
6078     2020-03-20
6079     2020-03-20
6080     2020-03-20
            ...
51160    2020-04-11
51161    2020-04-11
51162    2020-04-11
51163    2020-04-11
51164    2020-04-11
51165    2020-04-11
51166    2020-04-11
51167    2020-04-11
51168    2020-04-11
53827    2020-04-12
53828    2020-04-12
53829    2020-04-12
53830    2020-04-12
53831    2020-04-12
53832    2020-04-12
53833    2020-04-12
53834    2020-04-12
53835    2020-04-12
53836    2020-04-12
53837    2020-04-12
53838    2020-04-12
53839    2020-04-12
53840    2020-04-12
53841    2020-04-12
53842    2020-04-12
53843    2020-04-12
53844    2020-04-12
53845    2020-04-12
53846    2020-04-12
53847    2020-04-12
Name: date, Length: 390, dtype: object

In [47]:
coronadf.iloc[0:10]

         date       county       state     fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061.0      1       0
1  2020-01-22    Snohomish  Washington  53061.0      1       0
2  2020-01-23    Snohomish  Washington  53061.0      1       0
3  2020-01-24         Cook    Illinois  17031.0      1       0
4  2020-01-24    Snohomish  Washington  53061.0      1       0
5  2020-01-25       Orange  California   6059.0      1       0
6  2020-01-25         Cook    Illinois  17031.0      1       0
7  2020-01-25    Snohomish  Washington  53061.0      1       0
8  2020-01-26     Maricopa     Arizona   4013.0      1       0
9  2020-01-26  Los Angeles  California   6037.0      1       0

In [49]:
coronadf.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths      int64
dtype: object

In [50]:
coronadf.index

RangeIndex(start=0, stop=53848, step=1)

In [51]:
coronadf.values

array([['2020-01-21', 'Snohomish', 'Washington', 53061.0, 1, 0],
       ['2020-01-22', 'Snohomish', 'Washington', 53061.0, 1, 0],
       ['2020-01-23', 'Snohomish', 'Washington', 53061.0, 1, 0],
       ...,
       ['2020-04-12', 'Teton', 'Wyoming', 56039.0, 56, 0],
       ['2020-04-12', 'Uinta', 'Wyoming', 56041.0, 4, 0],
       ['2020-04-12', 'Washakie', 'Wyoming', 56043.0, 4, 0]], dtype=object)